<v-app id="app">
  <v-main>
    <titel>Skywayチュートリアル</titel>
    <section>
      <video id="my-video" width="400px" autoplay muted playsinline></video>
      <p id="my-id">{{id}}</p>
      <input id="their-id"></input>
      <button id="make-call">発信</button>
      <video id="their-video" width="400px" autoplay muted playsinline></video>
    </section>
  </v-main>
</v-app>
<%= javascript_pack_tag 'hello_vuetify' %>
